$body-font: 'Finlandica', sans-serif;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700,
);


$big-font-size: 1.5rem;
$normal-font-size: 1rem;
$small-font-size: .9rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1.1rem;

$m-0-25: .25rem;
$m-0-5: .5rem;
$m-0-75: .75rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-2-5: 2.5rem;
$m-3: 3rem;

$big-res-font-size: 1.25rem;
$normal-res-font-size: .9rem;
$small-res-font-size: .8rem;
$h1-res-font-size: 1.25rem;
$h2-res-font-size: 1.125rem;
$h3-res-font-size: 1.1rem;
$h4-res-font-size: 1rem;