@import './colors.scss','./variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600;700&display=swap');

/*================ RESETS ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Finlandica';
    font-size: 16px;
}

/*============= HEADER ===============*/

.header-container {

    background-color: $bg-color;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    margin: 0 auto;
   
    & a {
        text-decoration: none;
        color: $text-color;
        position: relative;
    }

    & a:hover {
        cursor: pointer;
    }

    & a::after {
        content: '';
        width: 0;
        right: 0;
        position: absolute;
        bottom: -0.25rem;
        height: .125rem;
        background-color: $text-color;
        transition: ease .40s;
    }

    & a:hover::after {
        width: 100%;
    }
}

header.sticky {
    background-color: white;
}

.navbar {
    display: flex;


    & li {
        list-style: none;
    }

    & i {
        color: $text-color;
        text-decoration: none;
        padding: 1em;
        font-size: $normal-font-size;
        font-weight: bold;
    }

    & i:hover {
        cursor: pointer;
        background-color: $span-color;
        transition: all ease-in-out .40s;
    }
}

/*============ REUSABLE CSS =============*/
section {
    width: 60%;
    margin: 0 auto;
    margin-bottom: $m-1;
    padding: 1.5em;
}


/*============== BANNER ==============*/

.img-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 3em;
    z-index: 0;
}

.container-banner {

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,64,1) 35%, rgba(0,212,255,1) 100%);
    height: 8em;
    margin: 0 auto;
    z-index: 1;

}

.profile {

    height: 12em;
    margin: 0 auto;
    position: relative; 

    & img {
        max-height: 12em;
        max-width: 80%;
        position: absolute;
        top: -5em;
        right: 0;
        left: 0;
        z-index: 2;
        border: 4px solid white;
        border-radius: 2rem;
    }


}

/*================= MAIN CONTENT ===============*/

.Intro {

    border-bottom: 1px solid lightseagreen;

    & h1 {
        text-align: left;
        font-weight: map-get($font-weights, bold);
        font-size: $h1-font-size;
        margin-bottom: $m-1-5;
    }

    .description {
        border-left: 4px solid darkgreen;
        margin-bottom: $m-1;
    }
}

.description {

    & p {
        margin-left: $m-0-5;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }
}

/*================= WORK EXP SECTION ===============*/

.Work-exp {

    border-bottom: 1px solid lightseagreen;

    & h2 {
        text-align: left;
        font-weight: map-get($font-weights, semi-bold);
        font-size: $h2-font-size;
        margin-bottom: $m-1-5;
    }
}

.work-exp-grid {

    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 10em;

    & h3 {
        text-align: left;
        font-weight: map-get($font-weights, medium);
        font-size: $h3-font-size;
        margin-bottom: $m-1-5;
    }

    & h4 {
        text-align: left;
        font-weight: map-get($font-weights, medium);
        font-size: $h4-font-size;
        margin-bottom: $m-1;
    }

    & p {
        margin-bottom: $m-0-75;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }

    & a {
        text-decoration: none;
        color: $text-color;
        font-weight: map-get($font-weights, medium);
    }

    & a:hover {
        cursor: pointer;
        color: green;
        transition: ease-in-out .40s;
    }
}

.work-exp-grid-item {

    & ul li {
        margin-left: $m-1-5;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }
}

/*================= FORMAZIONE SECTION ===============*/

.Formazione {

    border-bottom: 1px solid lightseagreen;
    
    & h2 {
        text-align: left;
        font-weight: map-get($font-weights, semi-bold);
        font-size: $h2-font-size;
        margin-bottom: $m-1-5;
    }

    & h3 {
        text-align: left;
        font-weight: map-get($font-weights, medium);
        font-size: $h3-font-size;
        margin-bottom: $m-0-75;
    }

    & p {
        margin-bottom: $m-0-75;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }
}

/*================= COMP-PERSONALI SECTION ===============*/

.Comp-personali {

    border-bottom: 1px solid lightseagreen;

    & h2 {
        text-align: left;
        font-weight: map-get($font-weights, semi-bold);
        font-size: $h2-font-size;
        margin-bottom: $m-1-5;
    }

    & h3 {
        text-align: left;
        font-weight: map-get($font-weights, medium);
        font-size: $h3-font-size;
        margin-bottom: $m-0-75;
    }

    & p {
        margin-bottom: $m-0-75;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }

}

.Comp-personali-grid {

    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 10em;
}

/*================= COMP-TECNICHE SECTION ===============*/

.Comp-tecniche {

    border-bottom: 1px solid lightseagreen;

    & h2 {
        text-align: left;
        font-weight: map-get($font-weights, semi-bold);
        font-size: $h2-font-size;
        margin-bottom: $m-1-5;
    }

    & h3 {
        text-align: left;
        font-weight: map-get($font-weights, medium);
        font-size: $h3-font-size;
        margin-bottom: $m-0-75;
    }
}

.Comp-tecniche {

    & ul {

        margin-bottom: $m-0-75;
    }

    & ul li {
        margin-left: $m-1-5;
        font-size: $normal-font-size;
        font-weight: map-get($font-weights, regular);
        line-height: 1.3rem;
    }
}

/*================= ENDING SECTION ===============*/

.Ending {

    & p {
        margin-bottom: $m-0-75;
        font-size: $big-font-size;
        font-weight: map-get($font-weights, medium);
        line-height: 1.5rem;
    }

    & button {
        background-color: $span-color;
        color: $text-color;
        font-weight: map-get($font-weights, bold);
        font-size: $big-font-size;
        border: 2px solid black;
        border-radius: 2em;
        margin-top: $m-1;
        width: 120px;
        padding: .5em;
    }

    & a {
        color: $text-color;
        text-decoration: none;
    }

    & button:hover {
        cursor: pointer;
        background-color: transparent;
        transform: translateY(-8px);
        transition: all ease-in-out .30s;
    }
}

/*=============== SCROLLBAR ================*/

::-webkit-scrollbar {
    width: .60rem;
    background-color: transparent;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,64,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: .5rem;
}

@media only screen and (min-width: 767px) and (max-width: 1060px) {

    section {
        width: 85%;
        margin: 0 auto;
        margin-bottom: $m-1;
        padding: 1.5em;
    }

    .img-container {
        width: 90%;
    }
}


@media (max-width: 767px) {
    section {
        width: 80%;
        margin: 0 auto;
        margin-bottom: $m-1;
        padding: 1.5em;
    }

    .work-exp-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1em;
    }

    .Comp-personali-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1em;
    }

    h1 {
        font-size: $h1-res-font-size;
    }

    h2 {
        font-size: $h2-res-font-size;
    }

    h3 {
        font-size: $h3-res-font-size;
    }

    p {
        font-size: $normal-res-font-size;
    }

    .Ending p {
        font-size: $big-res-font-size;
    }

    .Ending button {
        font-size: $big-res-font-size;
    }

    .profile img {
        max-height: 10em;
    }

    .img-container {
        width: 90%;
    }
}
