@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600;700&display=swap");
/*================ RESETS ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Finlandica";
  font-size: 16px;
}

/*============= HEADER ===============*/
.header-container {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  margin: 0 auto;
}
.header-container a {
  text-decoration: none;
  color: black;
  position: relative;
}
.header-container a:hover {
  cursor: pointer;
}
.header-container a::after {
  content: "";
  width: 0;
  right: 0;
  position: absolute;
  bottom: -0.25rem;
  height: 0.125rem;
  background-color: black;
  transition: ease 0.4s;
}
.header-container a:hover::after {
  width: 100%;
}

header.sticky {
  background-color: white;
}

.navbar {
  display: flex;
}
.navbar li {
  list-style: none;
}
.navbar i {
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
}
.navbar i:hover {
  cursor: pointer;
  background-color: #6f4f55;
  transition: all ease-in-out 0.4s;
}
.navbar a::after {
  content: "";
  width: 0;
  right: 0;
  position: absolute;
  bottom: -0.25rem;
  height: 0.125rem;
  background-color: transparent;
  transition: ease 0.4s;
}

/*============ REUSABLE CSS =============*/
section {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1.5em;
}

/*============== BANNER ==============*/
.img-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 3em;
  z-index: 0;
}

.container-banner {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(51, 51, 64) 35%, rgb(0, 212, 255) 100%);
  height: 8em;
  margin: 0 auto;
  z-index: 1;
}

.profile {
  height: 12em;
  margin: 0 auto;
  position: relative;
}
.profile img {
  max-height: 12em;
  max-width: 80%;
  position: absolute;
  top: -5em;
  right: 0;
  left: 0;
  z-index: 2;
  border: 4px solid white;
  border-radius: 2rem;
}

/*================= MAIN CONTENT ===============*/
.Intro {
  border-bottom: 1px solid lightseagreen;
}
.Intro h1 {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.Intro .description {
  border-left: 4px solid darkgreen;
  margin-bottom: 1rem;
}

.description p {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

/*================= WORK EXP SECTION ===============*/
.Work-exp {
  border-bottom: 1px solid lightseagreen;
}
.Work-exp h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.work-exp-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10em;
}
.work-exp-grid h3 {
  text-align: left;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.work-exp-grid h4 {
  text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.work-exp-grid p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}
.work-exp-grid a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.work-exp-grid a:hover {
  cursor: pointer;
  color: green;
  transition: ease-in-out 0.4s;
}

.work-exp-grid-item ul li {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

/*================= FORMAZIONE SECTION ===============*/
.Formazione {
  border-bottom: 1px solid lightseagreen;
}
.Formazione h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.Formazione h3 {
  text-align: left;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.Formazione p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

/*================= COMP-PERSONALI SECTION ===============*/
.Comp-personali {
  border-bottom: 1px solid lightseagreen;
}
.Comp-personali h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.Comp-personali h3 {
  text-align: left;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.Comp-personali p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.Comp-personali-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10em;
}

/*================= COMP-TECNICHE SECTION ===============*/
.Comp-tecniche {
  border-bottom: 1px solid lightseagreen;
}
.Comp-tecniche h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.Comp-tecniche h3 {
  text-align: left;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.Comp-tecniche ul {
  margin-bottom: 0.75rem;
}
.Comp-tecniche ul li {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

/*================= ENDING SECTION ===============*/
.Ending p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.Ending button {
  display: inline-block;
  background-color: #6f4f55;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 2em;
  width: 120px;
  padding: 0.5em;
}
.Ending a {
  color: black;
  text-decoration: none;
}
.Ending button:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(-8px);
  transition: all ease-in-out 0.3s;
}

/*=============== SCROLLBAR ================*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(51, 51, 64) 35%, rgb(0, 212, 255) 100%);
  border-radius: 0.5rem;
}

@media only screen and (min-width: 767px) and (max-width: 1060px) {
  section {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1.5em;
  }

  .img-container {
    width: 90%;
  }
}
@media (max-width: 767px) {
  section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1.5em;
  }

  .work-exp-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }

  .Comp-personali-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .Ending p {
    font-size: 1.25rem;
  }

  .Ending button {
    font-size: 1.25rem;
  }

  .profile img {
    max-height: 10em;
  }

  .img-container {
    width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */